# NOTE: keep in sync with _config.yml's exclude

# rubygems in TravisCI
/vendor

# npm (if used. not used in monorepo)
/node_modules
/package-lock.json

# jekyll
/.jekyll-metadata
/.sass-cache
/_site

# built assets
/assets/*.*
