
# disable directory indexes
Options -Indexes

# disable forcing slashes to directory URLs
DirectorySlash Off

# works???
ErrorDocument 403 /public/403.html
ErrorDocument 404 /public/404.html

# never serve hidden files like .htaccess and .git*
# first slash means start-of-directory
RedirectMatch 404 "/\."

RewriteEngine on
RewriteOptions AllowNoSlash

# remove www
RewriteCond %{HTTP_HOST}%{REQUEST_URI} ^www\.(.*)$
RewriteRule .* https://%1 [R=301,L]

# root index
# using `DirectorySlash Off` (which requires `RewriteOptions AllowNoSlash`),
# matches against a real file path in RewriteRule, so use RewriteCond instead.
RewriteCond %{REQUEST_URI} ^/docs$
RewriteRule .* index.html [L]

# indexes for specific versions
RewriteRule ^v\d+$ $0/index.html [L]

# articles (no file extension)
RewriteRule ^(v\d+/)?([^.]+)$ $0.html [L]

# doc urls for prereleases that became real releases
# last rule here works???
RewriteRule ^v5/(.*) $1 [R=301,L]
RewriteRule ^v5 . [R=301,L]

# renamed release-notes
RewriteRule ^v4/release-notes v4/upgrading-from-v3 [R=301,L]

# favicon legacy paths old browsers might request
# needed after we fully convert to gatsby???
# TODO: move to root repo because it handles root urls
RewriteRule ^(favicon|browserconfig|mstile)(\.|\-).*$ assets/favicon/$0 [L]

# TODO: add not about how this ends up in _site dir
# TODO: test all docs urls (/docs/, /docs/v5/, /docs/v3/, etc)
# TODO: what about caching? emulate what's in /api/
