
# disable directory indexes
Options -Indexes

# disable forcing slashes to directory URLs
# causes resolution of DirectoryIndex (usually index.html) to break, thus the rewrite rule below
# FYI, we tried `RewriteOptions AllowNoSlash` but causes RewriteRule to sometimes match against
# a real filepath, not a URL!
DirectorySlash Off

# works???
ErrorDocument 403 /public/403.html
ErrorDocument 404 /public/404.html

# never serve hidden files like .htaccess and .git*
# first slash means start-of-directory
RedirectMatch 404 "/\."

RewriteEngine on

# remove www
# TODO: use the technique gatsby uses?
RewriteCond %{HTTP_HOST}%{REQUEST_URI} ^www\.(.*)$
RewriteRule .* https://%1 [R=301,L]

# directory indexes (necessary because of `DirectorySlash Off`)
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule .* $0/index.html [L]

# articles (matches any nonexistent files)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* $0.html [L]

# doc urls for prereleases that became real releases
# last rule here works???
RewriteRule ^v5/(.*) $1 [R=301,L]
RewriteRule ^v5 . [R=301,L]

# renamed release-notes
RewriteRule ^v4/release-notes v4/upgrading-from-v3 [R=301,L]

# favicon legacy paths old browsers might request
# needed after we fully convert to gatsby???
# TODO: move to root repo because it handles root urls
RewriteRule ^(favicon|browserconfig|mstile)(\.|\-).*$ assets/favicon/$0 [L]

# TODO: add not about how this ends up in _site dir
# TODO: test all docs urls (/docs/, /docs/v5/, /docs/v3/, etc)
# TODO: what about caching? emulate what's in /api/
