################
# General Config
################

# disables auto-listing directory contents
Options -Indexes

# error pages
# (leading slash spawns internal request)
ErrorDocument 404 /api/404.php
ErrorDocument 403 /403/index.html

# disable forcing slashes on directory URLs
# (causes resolution of index.html to break, thus the RewriteRule below)
DirectorySlash Off

RewriteEngine On

# allows mod_rewrite on a direct request to current directory, despite `DirectorySlash Off`
RewriteOptions AllowNoSlash

##################
# General Rewrites
##################

# prevents serving hidden files like .htaccess and .git
# (leading slash means start-of-directory)
RedirectMatch 404 "/\."

# removes www
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^ %{ENV:PROTO}://%1%{REQUEST_URI} [R=301,L]

# removes trailing slashes
RewriteCond %{REQUEST_URI} ^(/.*)/$
RewriteRule .* %1 [R=301,L]

# #####################
# # App-Specific Config
# #####################

# disable caching for HTML files
<FilesMatch "\.html$">
  FileETag None
  <IfModule mod_headers.c>
    Header unset ETag
    Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
  </IfModule>
</FilesMatch>

# #######################
# # App-Specific Rewrites
# #######################

# short-circuit already-rewritten HTML paths
RewriteRule \.html$ - [L]

# directories (necessary because of `DirectorySlash Off`)
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule .* $0/index.html [L]

# articles
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule .* $0.html [L]

# doc urls for prereleases that became real releases
# last rule here works???
RewriteRule ^v5/(.*) $1 [R=301,L]
RewriteRule ^v5 . [R=301,L]

# renamed release-notes
RewriteRule ^v4/release-notes v4/upgrading-from-v3 [R=301,L]

# favicon legacy paths old browsers might request
# needed after we fully convert to gatsby???
# TODO: move to root repo because it handles root urls
RewriteRule ^(favicon|browserconfig|mstile)(\.|\-).*$ assets/favicon/$0 [L]
