
<div class='sidebar-layout__sidebar sidebar-layout__sidebar--bordered blog-post-sidebar'>

  {% if page.advanced_sidebar %}
    <div class='blog-post-sidebar__advanced'>

      <div class='blog-post-sidebar__date'>
        Posted by
        <a href='https://github.com/arshaw' style='font-weight: 800'>arshaw</a>
        on {{ page.date | date: '%B %d, %Y' }}
      </div>

      <ul class='blog-post-sidebar__list'>
        {% if page.hacker_news_url %}
          <li>
            <a href='{{ page.hacker_news_url }}' target='_blank'>View on Hacker News</a>
          </li>
        {% endif %}
        {% if page.reddit_url %}
          <li>
            <a href='{{ page.reddit_url }}' target='_blank'>View on Reddit</a>
          </li>
        {% endif %}
      </ul>

    </div>
  {% endif %}

  <h2 class='blog-post-sidebar__title'>Featured Posts</h2>
  <ul class='blog-post-sidebar__list'>
    <li>
      <a href='{{ site.baseurl }}/blog/2021/02/10percent-profits-to-effective-charities'>
        FullCalendar LLC Pledges to Donate 10% of Profits to EA Charities
      </a>
    </li>
    <li>
      <a href='{{ site.baseurl }}/blog/2019/05/fullcalendar-turns-10'>
        From Dead Code to Company: The FullCalendar JS Lib Turns 10
      </a>
    </li>
  </ul>

  {% comment %}
  <h2 class='blog-post-sidebar__title'>Recent Posts</h2>
  <ul class='blog-post-sidebar__list'>
    {% for post in site.posts offset:1 limit:3 %}
      <li>
        <a href='{{ site.baseurl }}{{ post.url }}'>{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
  {% endcomment %}

</div>
