
<div class='sidebar-layout__sidebar blog-post-sidebar'>

  {% if page.advanced_sidebar %}
    <div class='blog-post-sidebar__advanced'>

      <div class='blog-post-sidebar__date'>
        Posted {{ page.date | date: '%B %d, %Y' }}
      </div>

      <ul class='blog-post-sidebar__list'>
        {% if page.hacker_news_url %}
          <li>
            <a href='{{ page.hacker_news_url }}' target='_blank'>View on Hacker News</a>
          </li>
        {% endif %}
        {% if page.reddit_url %}
          <li>
            <a href='{{ page.reddit_url }}' target='_blank'>View on Reddit</a>
          </li>
        {% endif %}
      </ul>

    </div>
  {% endif %}

  <h2 class='blog-post-sidebar__title'>Recent Posts</h2>

  <ul class='blog-post-sidebar__list'>
    {% for post in site.posts offset:1 limit:3 %}
      <li>
        <a href='{{ site.baseurl }}{{ post.url }}'>{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

</div>
