
<div class='text-content'>
  <h2>Premium Dashboard Themes</h2>
  <p>
    We've partnered with a company called Creative Tim, which offers premium dashboard-style themes.
    Each dashboard provides high-quality styling for FullCalendar:
  </p>
</div>

<div class='external-theme'>
  <a class='external-theme__title' href='https://www.creative-tim.com/product/light-bootstrap-dashboard-pro?affiliate_id=your-avangate-code' target='_blank'>
    Light <span>by Creative Tim</span>
  </a>
  <div class='external-theme__content'>
    <a class='external-theme__img-wrap' href='https://www.creative-tim.com/product/light-bootstrap-dashboard-pro?affiliate_id=your-avangate-code' target='_blank'>
      <img src='{{ site.baseurl }}/assets/images/creative-tim/light-dashboard.png'
        alt='Screenshot of Light dashboard'
        width='300' height='228' />
    </a>
    <a class='external-theme__img-wrap external-theme__img-wrap--calendar' href='http://demos.creative-tim.com/light-bootstrap-dashboard-pro/examples/calendar.html?affiliate_id=your-avangate-code' target='_blank'>
      <img src='{{ site.baseurl }}/assets/images/creative-tim/light-calendar.png'
        alt='Screenshot of Light calendar'
        width='300' height='228' />
    </a>
    <a class='external-theme__arrow' href='https://www.creative-tim.com/product/light-bootstrap-dashboard-pro?affiliate_id=your-avangate-code' target='_blank'>
    </a>
  </div>
</div>

<div class='external-theme'>
  <a class='external-theme__title' href='https://www.creative-tim.com/product/material-dashboard-pro?affiliate_id=your-avangate-code' target='_blank'>
    Material <span>by Creative Tim</span>
  </a>
  <div class='external-theme__content'>
    <a class='external-theme__img-wrap' href='https://www.creative-tim.com/product/material-dashboard-pro?affiliate_id=your-avangate-code' target='_blank'>
      <img src='{{ site.baseurl }}/assets/images/creative-tim/material-dashboard.png'
        alt='Screenshot of Material dashboard'
        width='300' height='228' />
    </a>
    <a class='external-theme__img-wrap external-theme__img-wrap--calendar' href='http://demos.creative-tim.com/material-dashboard-pro/examples/calendar.html?affiliate_id=your-avangate-code' target='_blank'>
      <img src='{{ site.baseurl }}/assets/images/creative-tim/material-calendar.png'
        alt='Screenshot of Material calendar'
        width='300' height='228' />
    </a>
    <a class='external-theme__arrow' href='https://www.creative-tim.com/product/material-dashboard-pro?affiliate_id=your-avangate-code' target='_blank'>
    </a>
  </div>
</div>

<div class='external-theme'>
  <a class='external-theme__title' href='https://www.creative-tim.com/product/paper-dashboard-pro?affiliate_id=your-avangate-code' target='_blank'>
    Paper <span>by Creative Tim</span>
  </a>
  <div class='external-theme__content'>
    <a class='external-theme__img-wrap' href='https://www.creative-tim.com/product/paper-dashboard-pro?affiliate_id=your-avangate-code' target='_blank'>
      <img src='{{ site.baseurl }}/assets/images/creative-tim/paper-dashboard.png'
        alt='Screenshot of Paper dashboard'
        width='300' height='228' />
    </a>
    <a class='external-theme__img-wrap external-theme__img-wrap--calendar' href='http://demos.creative-tim.com/paper-dashboard-pro/examples/calendar.html?affiliate_id=your-avangate-code' target='_blank'>
      <img src='{{ site.baseurl }}/assets/images/creative-tim/paper-calendar.png'
        alt='Screenshot of Paper calendar'
        width='300' height='228' />
    </a>
    <a class='external-theme__arrow' href='https://www.creative-tim.com/product/paper-dashboard-pro?affiliate_id=your-avangate-code' target='_blank'>
    </a>
  </div>
</div>
