<meta charset='utf-8' />

{% if page.title %}
  <title>
    {{ page.title | escape }} - Demos | FullCalendar
  </title>
{% endif %}

<link href='{{ site.baseurl }}/assets/demo-to-codepen.css' rel='stylesheet' />

{% unless page.disable_base_styles %}
  <style>

    html, body {
      margin: 0;
      padding: 0;
      font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
      font-size: 14px;
    }

    #calendar {
      max-width: 900px;
      margin: 40px auto;
    }

  </style>
{% endunless %}

{% package_css_tag core 4 %}

{% for plugin_name in page.plugins %}
  {% package_css_tag {{ plugin_name }} 4 %}
{% endfor %}

<script src='{{ site.baseurl }}/assets/demo-to-codepen.js'></script>

{% package_js_tag core 4 %}

{% if page.needs_locales %}
  <script src='{% package_baseurl core 4 %}/locales-all.js'></script>
{% endif %}

{% for plugin_name in page.plugins %}
  {% package_js_tag {{ plugin_name }} 4 %}
{% endfor %}
