<meta charset='utf-8' />

{% if page.title %}
  <title>
    {{ page.title | escape }} - Demos | FullCalendar
  </title>
{% endif %}

{% comment %}
  Will need a more sophisticated solution when new major versions are launched.
  Or we should just hardcode the path.
{% endcomment %}

<link href='{{ site.baseurl }}/assets/demo-to-codepen.css' rel='stylesheet' />

<link href='https://cdn.jsdelivr.net/npm/fullcalendar@3/dist/fullcalendar.min.css' rel='stylesheet' />
<link href='https://cdn.jsdelivr.net/npm/fullcalendar@3/dist/fullcalendar.print.css' rel='stylesheet' media='print' />

{% if page.needs_scheduler %}
  <link href='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@1/dist/scheduler.min.css' rel='stylesheet' />
{% endif %}

<script src='https://cdn.jsdelivr.net/npm/moment@2/min/moment.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@3/dist/fullcalendar.min.js'></script>

{% if page.needs_locales %}
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@3/dist/locale-all.min.js'></script>
{% endif %}

{% if page.needs_google_calendar %}
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@3/dist/gcal.min.js'></script>
{% endif %}

{% if page.needs_scheduler %}
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@1/dist/scheduler.min.js'></script>
{% endif %}

<script src='{{ site.baseurl }}/assets/demo-to-codepen.js'></script>
