
{% if page.version.is_pre %}
  <div class='hero__warning'>
    This version is a pre-release.
    <a href='{{ site.baseurl }}/docs/v4/release-notes'>
      Read the release notes
    </a>
  </div>
{% elsif page.version.is_latest %}
  <div class='hero__warning' style='display:none'>
    {% comment %}for JS to dynamically inject warning{% endcomment %}
  </div>
{% else %}
  <div class='hero__warning'>
    These docs are for an old release.
    <a href='{{ site.baseurl }}/docs/upgrading-to-v2'>
      Info on upgrading to version 2/3
    </a>
  </div>
{% endif %}
