
<div class='docs-landing'>
  {% for child_group in page.child_groups %}
    <div class='docs-landing__section'>
      <h2 class='docs-landing__section-title'>{{ child_group.title | escape }}</h2>
      <div class='docs-landing__section-content'>
        <ul class='docs-landing__illustrations'>
          {% for node in child_group.children %}
            <li class='docs-landing__illustration'>
              <a class='docs-landing__illustration-link' href='{{ site.baseurl }}{{ node.article.url | escape }}'>
                <img src='{{ site.baseurl }}/assets/docs-categories/{%
                  if node.article.illustration
                %}{{ node.article.illustration | escape }}{%
                  else
                %}{{ node.article.slug | escape }}{%
                  endif
                %}@2x.png'
                  width='120'
                  height='120'
                  alt='{{ node.article.title | escape }}'
                  class='docs-landing__illustration-image'
                  />
                <span class='docs-landing__illustration-title'>
                  {% if node.article.title_for_landing %}
                    {{ node.article.title_for_landing | escape }}
                  {% else %}
                    {{ node.article.title | escape }}
                  {% endif %}
                  {% if node.article.is_premium %}
                    <div>
                      <span class='badge'>Premium</span>
                    </div>
                  {% endif %}
                </span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endfor %}
</div>
