
<div class='docs-toc'>
  <table class='docs-toc__table'>
    <tr>
      <td>
        {% for child_group in page.child_groups %}

          {% comment %}
            Manually create column breaks
          {% endcomment %}
          {% if page.version.id == 'v4' or page.version.id == 'v5' %}
            {% if child_group.title == 'Date & Time'
              or child_group.title == 'Events'
              or child_group.title == 'Resources'
            %}
              </td><td>
            {% endif %}
          {% elsif page.version.id == 'v3' %}
            {% if child_group.title == 'Date & Time'
              or child_group.title == 'Events'
              or child_group.title == 'Resources'
            %}
              </td><td>
            {% endif %}
          {% elsif page.version.id == 'v1' %}
            {% if child_group.title == 'Date & Time'
              or child_group.title == 'Events'
              or child_group.title == 'International'
            %}
              </td><td>
            {% endif %}
          {% endif %}

          <h2 class='docs-toc__title'>{{ child_group.title | escape }}</h2>

          {% for node in child_group.children %}
            <div class='docs-toc-card'>

              <div class='docs-toc-card__head'>
                <a class='docs-toc-card__head-link'
                  href='{{ site.baseurl }}{{ node.article.url | escape }}'
                  >
                  {{ node.article.title | escape }}
                </a>
                {% if node.article.is_premium %}
                  <a class='badge' href='{{ site.baseurl }}/pricing'>
                    Premium
                  </a>
              {% endif %}
              </div>

              {% if node.article.own_child_groups %}
                <div class='docs-toc-card__body'>
                  <ul>
                    {% for group_node in node.article.own_child_groups %}
                      {% if group_node.title %}
                        <li>
                          {{ group_node.title | escape }}
                          <ul>
                      {% endif %}
                      {% for child_node in group_node.children %}
                        <li>
                          <a href='{{ site.baseurl }}{{ child_node.article.url | escape }}'>
                            {{ child_node.article.title | escape }}
                          </a>
                          {% if child_node.points %}
                            <ul>
                              {% for point in child_node.points %}
                                <li>{{ point | escape }}</li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                        </li>
                      {% endfor %}
                      {% if group_node.title %}
                          </ul>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}

            </div>
          {% endfor %}

        {% endfor %}
      </td>
    </tr>
  </table>
</div>
