
<span class='docs-version-select hero-select {% if include.is_condensed %}hero-select--condensed{% endif %}'>
  <select class='hero-select__select'>
    {% for version in page.all_versions %}
      <option value='{{ version.id | escape }}'
        data-url='{{ site.baseurl }}{{ version.url | escape }}'
        {% if version.is_selected %}selected{% endif %}
        {% unless version.url %}disabled{% endunless %}
        >{{ version.id | escape }}</option>
    {% endfor %}
  </select>
  <span class='hero-select__arrow'></span>
</span>
