
<div class='footer'>
  <div class='footer__container container'>
    <div class='footer__left'>
      {% comment %}
        <form target='_blank' action='https://docs.google.com/forms/d/e/1FAIpQLSf9mPTzy0tMSRN53y0CSnHLgS6uwlne2sK-tcwIbUZzs_LOUA/viewform?usp=pp_url'>
          <p>
            Does your company use FullCalendar?
          </p>
          <input class='footer-text-input' type='text' name='entry.428396311' placeholder="Enter your company's name" />
          <button class='footer-button'>continue &gt;</button>
        </form>
      {% endcomment %}
      <ul>
        <p>News:</p>
        <li>
          Blog &mdash;
          <a href='{{ site.baseurl }}{% post_url 2020-06-21-v5-official %}'>
            V5 Officially Released!
          </a>
          (June 21)
        </li>
        <li>
          Hiring &mdash;
          <a href='{{ site.production_baseurl }}/opportunities'>Test Automation Engineer</a>,
          <a href='{{ site.production_baseurl }}/opportunities'>Technical Documentation Writer</a>
        </li>
      </ul>
    </div>
    <div class='footer__right'>
      <p>
        &copy; 2019&nbsp; FullCalendar LLC
      </p>
      <ul class='inline-list'>
        <li><a href='{{ site.fullcalendar_org | escape }}' target='_blank'>GitHub</a></li>
        <li><a href='{{ site.baseurl }}/blog'>Blog</a></li>
        <li><a href='{{ site.baseurl }}/donate'>Donate</a></li>
      </ul>
      <p>
        <a href='https://docs.google.com/forms/d/e/1FAIpQLSf9mPTzy0tMSRN53y0CSnHLgS6uwlne2sK-tcwIbUZzs_LOUA/viewform?usp=sf_link'>
          Does your company use FullCalendar?
        </a>
      </p>
    </div>
  </div>
</div>
