
<div class='footer'>
  <div class='footer__container container'>
    <div class='footer__left'>
      <p>
        <a href='/blog/2021/02/10percent-profits-to-effective-charities' style='color:inherit'>
          <strong>10%</strong>
          of profits donated to
          <strong>effective charities</strong>
        </a>
      </p>
      <p>
        <a href='https://docs.google.com/forms/d/e/1FAIpQLSf9mPTzy0tMSRN53y0CSnHLgS6uwlne2sK-tcwIbUZzs_LOUA/viewform?usp=sf_link' target='_blank'>
          Does your company use FullCalendar? Tell us &raquo;
        </a>
      </p>
    </div>
    <div class='footer__right'>
      <p>
        &copy; 2022&nbsp; FullCalendar LLC
      </p>
      <ul class='inline-list'>
        <li><a href='{{ site.fullcalendar_org | escape }}' target='_blank'>GitHub</a></li>
        <li><a href='/license'>License</a></li>
        <li><a href='/blog'>Blog</a></li>
        <li><a href='/roadmap'>Roadmap</a></li>
      </ul>
    </div>
  </div>
</div>
