
<link rel="icon" href="{{ site.data.site_url }}/favicon-32x32.png?v=63734d4d33b09dc30c8e6c8f0ff38e19" type="image/png"/>
<link rel="manifest" href="{{ site.data.site_url }}/manifest.webmanifest" crossorigin="anonymous"/>
<link rel="apple-touch-icon" sizes="48x48" href="{{ site.data.site_url }}/icons/icon-48x48.png?v=63734d4d33b09dc30c8e6c8f0ff38e19"/>
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.data.site_url }}/icons/icon-72x72.png?v=63734d4d33b09dc30c8e6c8f0ff38e19"/>
<link rel="apple-touch-icon" sizes="96x96" href="{{ site.data.site_url }}/icons/icon-96x96.png?v=63734d4d33b09dc30c8e6c8f0ff38e19"/>
<link rel="apple-touch-icon" sizes="144x144" href="{{ site.data.site_url }}/icons/icon-144x144.png?v=63734d4d33b09dc30c8e6c8f0ff38e19"/>
<link rel="apple-touch-icon" sizes="192x192" href="{{ site.data.site_url }}/icons/icon-192x192.png?v=63734d4d33b09dc30c8e6c8f0ff38e19"/>
<link rel="apple-touch-icon" sizes="256x256" href="{{ site.data.site_url }}/icons/icon-256x256.png?v=63734d4d33b09dc30c8e6c8f0ff38e19"/>
<link rel="apple-touch-icon" sizes="384x384" href="{{ site.data.site_url }}/icons/icon-384x384.png?v=63734d4d33b09dc30c8e6c8f0ff38e19"/>
<link rel="apple-touch-icon" sizes="512x512" href="{{ site.data.site_url }}/icons/icon-512x512.png?v=63734d4d33b09dc30c8e6c8f0ff38e19"/>
