
<div class='topbar'>
  <div class='topbar__container container'>

    <div class='topbar__branding'>
      <a class='branding' href='/'>
        <div class='branding-graphic'></div>
        <div class='branding-text'>FullCalendar</div>
      </a>
    </div>

    <div class='topbar__nav'>
      <div class='topbar__nav-item' id='demos-nav-item'>
        <a class='topbar__nav-handle' href='/demos'>
          Demos
        </a>
      </div>
      <div class='topbar__nav-item {%
        if page.is_docs
      %}topbar__nav-item--selected{%
        endif
      %}'>
        <a class='topbar__nav-handle' href='{{ site.baseurl }}'>
          Docs
        </a>
      </div>
      <div class='topbar__nav-item {%
        if page.is_community
      %}topbar__nav-item--selected{%
        endif
      %}'>
        <div class='topbar__nav-handle'>
          Support
        </div>
        <div class='topbar__flyout-wrap'>
          <div class='topbar__flyout'>
            <div class='topbar__flyout-item'>
              <a class='topbar__flyout-handle' href='/getting-help'>
                Getting Help
              </a>
            </div>
            <div class='topbar__flyout-item'>
              <a class='topbar__flyout-handle' href='/reporting-bugs'>
                Reporting Bugs
              </a>
            </div>
            <div class='topbar__flyout-item'>
              <a class='topbar__flyout-handle' href='/requesting-features'>
                Requesting Features
              </a>
            </div>
            <div class='topbar__flyout-item'>
              <a class='topbar__flyout-handle' href='/contributing'>
                Contributing
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class='topbar__nav-item'>
        <a class='topbar__nav-handle button button--lightblue button--outlined' href='/pricing'>
          Pricing
        </a>
      </div>
    </div>

    <div class='topbar__notice'>
      <a class='topbar__notice-link' href='https://github.com/fullcalendar/fullcalendar/releases' target='_blank'>
        v{{ site.data.latest-releases.v5 }}
      </a>
    </div>

    <div class='topbar__github'>
      <a class='topbar__github-link' href='{{ site.fullcalendar_repo }}' target='_blank'>
        <div class='topbar__github-graphic'></div>
      </a>
    </div>

  </div>
</div>
