
.docs-footer-announcement {
  position: relative; // so the container can live above the footer
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4px;
  background-color: $hero-bg-color;
}

.docs-footer-announcement__container {
  @include link-hover-underline;
  flex-grow: 0;
  flex-shrink: 1;
  background-color: $hero-bg-color;
  padding: 6px 8px;
  border-radius: 4px;

  a {
    color: #fff;
  }

  span {
    text-decoration: underline;
  }
}
