
// FYI: most images are naturally 300px wide
// FYI: border is 14px in horizontal width
$docs-sublanding-sidebar-width: 300px + 14px;

.docs-sublanding {
}

.docs-sublanding__container {
  display: flex;
}

.docs-sublanding__main {
  flex-grow: 1;
  margin-bottom: 3em;
}

.docs-sublanding__content {
  margin-top: 2em;
}

.docs-sublanding__sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  width: $docs-sublanding-sidebar-width + 60px;
  padding-left: 60px;
  margin-bottom: 2em;
  line-height: $line-height;

  .docs-premium-notice {
    position: relative;
    top: -1px; // because icon's valignment looks wierd
    float: right;
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

.docs-sublanding__sidebar-title {
  margin-top: 2em;
  margin-bottom: -1em;
  font-weight: $font-weight-bold;
}

.docs-sublanding__image {
  margin: 2em 0;
  color: #999; // for caption and caption underline

  img {
    display: block;
    max-width: 100%;
    border: 7px solid #ccc;
  }
}

a.docs-sublanding__image {
  @include hover-underline;
  display: block; // if an <a>
}

.docs-sublanding__image-caption {
  margin: .5em 0;
  font-size: 14px;
  line-height: 1.4;
}

.docs-sublanding__children {
  line-height: $line-height;
}

.docs-sublanding__child-group {
  margin: 2em 0;
}

.docs-sublanding__child-group-title {
  margin: 2em 0 1.5em;
  text-transform: uppercase;
  color: #999;
}

$term-table-entry-title-width: 250px;

.term-table {
  margin: 1em 0;
}

.term-table__term {
  position: relative;
  z-index: 1;
  margin: 1em 0;

  &:before { // dotted line
    content: '\00a0'; // non-breaking space, to create height
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px dotted #ccc;
    margin-top: -8px; // move up to baseline
  }
}

.term-table__term-title {
  position: relative;
  z-index: 3; // above line
  float: left;
  min-height: $line-height;
  padding-right: 10px;
  margin-right: 10px;
  font-weight: bold;
  background: #fff;
}

.term-table__term-description {
  position: relative;
  z-index: 2; // above line
  margin-left: $term-table-entry-title-width;
  padding-left: 10px;
  min-height: $line-height;
  background: #fff;
}

a.term-table__term {
  display: block;
  text-decoration: none;

  .term-table__term-title {
    color: $link-dark-color;
  }

  .term-table__term-description {
    color: $font-color;
  }

  &:hover {
    .term-table__term-title,
    .term-table__term-description {
      color: $link-color;
    }
  }
}
