
$docs-toc-column-space: 20px;

.docs-toc {
  @include link-hover-underline;
  line-height: $line-height;
  margin-right: -$docs-toc-column-space; // compensate for table's right margin
}

.docs-toc__table {
  table-layout: fixed;
  width: 100%;

  td {
    width: 25%;
  }
}

.docs-toc__title {
  font-size: 22px;
  margin: 2em 0 1em;

  &:first-child {
    margin-top: 0;
  }
}

.docs-toc-card {
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  margin-right: $docs-toc-column-space;
  margin-bottom: 1em;
  font-size: 14px;
}

.docs-toc-card__head {
  background: #ececec;
  border-bottom: 1px solid #ccc;
  padding: .5em 1em;
}

.docs-toc-card__body {
  padding-right: .5em;
  padding-bottom: .5em;

  ul {
    margin: .5em 0 .5em 1em;
  }

  li {
    margin: .5em 0;
  }
}
