
.hero {
  line-height: $line-height;
  background-color: $hero-bg-color;
  color: #fff;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.hero__main { // contains title and subtitle
}

.hero__title {
  font-size: 26px;
  margin: 4px 0;

  a {
    color: #fff;
    text-decoration: none;
    padding-bottom: 3px;

    &:hover {
      border-bottom: 1px solid $control-border-color;
    }
  }
}

.hero__title-separator {
  margin-left: .3em;
  margin-right: .3em;
  color: $control-border-color;

  &:after {
    content: '/';
  }
}

.hero__subtitle {
  margin: 1.3em 0 0;
}

.hero__warning {
  padding: 2px 8px;
  border-radius: 4px;
  line-height: 1.6em;
  background: $yellow-bg-color;
  color: $font-color;
}

.hero__controls {
  display: flex;
  align-items: center;
}

.hero__control {
  margin-left: 20px;
}

.hero__nav {
  align-self: flex-start;
  display: flex;
  align-items: flex-start;
  margin-top: 2px;
}

.hero__nav-item {
  margin-left: 40px;
}

.hero__nav-link {
  font-size: 20px;
  padding: 4px 0;
  text-decoration: none;
  color: $yellow-font-color;

  &:hover {
    border-bottom: 2px solid rgba(255, 255, 255, .4);
  }
}

.hero__nav-item--selected {
  .hero__nav-link {
    border-bottom: 2px solid #fff;
  }
}


.hero--condensed {

  .hero__container {
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .hero__title {
    font-size: 20px;
  }

  .hero__control {
    margin-left: 10px;
  }

  .hero__warning {
    font-size: 14px;
  }
}
