
.breadcrumb-title {

  a:hover {
    color: $link-color;
  }
}

.breadcrumb-title__separator {
  font-weight: $font-weight-thin;
  margin-left: 2px;
  margin-right: 2px;
  color: #b9b9b9;

  &:after {
    content: '/';
  }
}
