
.control-button {
  @include control-focus-border;
  display: inline-block;
  vertical-align: top; // hack for all controls
  height: $control-height-normal;
  padding: 0 $control-h-padding;
  border: 1px solid $control-border-color;
  border-radius: 2px; // VAR
  font-size: $control-font-size;
  line-height: $control-height-normal - 2px; // minus border
  color: $control-text-color;
  cursor: pointer;
}

a.control-button { // resets for native <a>
  text-decoration: none;
}

button.control-button { // resets for native <button>
  @include reset-appearance;
  background: none;
  font-family: inherit;
}

.control-button--condensed {
  height: $control-height-condensed;
  line-height: $control-height-condensed - 2px;
  padding-left: $control-h-padding - 2px;
  padding-right: $control-h-padding - 2px;
}
