
$docs-toc-column-space: 20px;

.docs-toc {
  margin-right: -$docs-toc-column-space; // compensate for table's right margin
}

.docs-toc__table {
  table-layout: fixed;
  width: 100%;

  td {
    width: 25%;
  }
}

.docs-toc__title {
  @include title;
  margin: 2em 0 1em;

  &:first-child {
    margin-top: 0;
  }
}

.docs-toc-card {
  border: 1px solid $control-border-color-light;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  margin-right: $docs-toc-column-space;
  margin-bottom: 1em;
  font-size: 14px;
}

.docs-toc-card__head {
  background: $control-fill-color;
  border-bottom: 1px solid $control-border-color-light;
  padding: .7em .7em .7em 1em;
  display: flex;
  justify-content: space-between; // make premium badge go right
  align-items: center;
}

.docs-toc-card__head-link,
.docs-toc-card__body a {
  @include link-subtle;
}

.docs-toc-card__body {
  padding-right: .7em;
  padding-bottom: .7em;

  ul {
    margin: .7em 0 .7em 1em;
  }

  li {
    margin: .7em 0;
  }
}
