
.docs-article {
  display: flex;
}

.docs-article__sidebar {
  flex-shrink: 0;
  flex-grow: 0;
  width: 220px;
  margin-right: 60px;
  font-size: 14px;

  > ul {
    margin: 2em 0 3em;
  }
}

.docs-article__sidebar-title {
  margin: 60px 0 44px;
  font-size: 20px;
  font-weight: $font-weight-semibold;

  a:hover {
    color: $link-color;
  }
}

.docs-article__sidebar-group-title {
  @include docs-group-title;
  margin: 2.3em 0 .5em;
  font-size: 14px;
}

.docs-article__sidebar-item {

  a {
    @include link-subtle;
    position: relative;
    z-index: 1;
    display: block;
    padding: .5em 0;

    span {
      position: relative;
      z-index: 2;
      padding-right: 7px;
      margin-right: 7px;
      white-space: nowrap;
      background: #fff;
    }

    &:before {
      content: '\00a0'; // non-breaking space, to create height
      position: absolute;
      z-index: 1;
      top: .5em; // same as top-padding
      left: 0;
      right: 0;
      border-bottom: 1px dotted $control-border-color-light;
      margin-top: -7px;
    }
  }
}

.docs-article__sidebar-item--selected {

  a,
  a:hover {
    font-weight: $font-weight-semibold;
    color: #000;
  }

  a:before {
    border-color: #a0a0a0;
  }
}

.docs-article__main {
  flex-grow: 1;
}

.docs-article__version {
  display: inline-block;
  vertical-align: middle;
  margin: -50% 0 -50% 4px;
  border: 1px solid $control-border-color-light;
  padding: 0 2px;
  font-size: 12px;
  line-height: 16px;
  font-weight: $font-weight-normal;
  color: #666;
}
