.docs-controls {
  float: right;
}

.docs-controls__warning {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 13px;

  a {
    @include link-normal;
  }
}

.docs-controls__controls {
  display: flex; // will stretch items by default
  justify-content: flex-end;
  height: 34px;

  >* {
    margin-left: 10px;
  }
}

:root {
  --docsearch-searchbox-background: #eaebec !important;
  --docsearch-primary-color: #1876d2 !important;
}
