
html {
  line-height: $line-height;
  font-size: $font-size;
  font-weight: $font-weight-normal;
  font-family: $font-family;
  color: $font-color;
}

b,
strong {
  font-weight: $font-weight-bold;
}

.really-strong {
  font-weight: 700; // TODO: var
}
