
.footer {
  @include text-dark-bg;

  font-size: 14px;
  background: $dark-bg-color;

  p, ul, li {
    margin: 1em 0;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 4em;
  margin-bottom: 4em;
}

.footer__left {
  text-align: left;
}

.footer__right {
  text-align: right;
}

@media only screen and (max-width: $tablet-breakpoint - 1) { // <tablet
  .responsive-enabled {
    .footer__container {
      flex-direction: column;
      align-items: center;
      margin-top: 0;
      margin-bottom: 0;
    }

    .footer__left,
    .footer__right {
      text-align: center;
    }

    .footer__left {
      margin: 2em 0;
    }

    .footer__right {
      margin: 2em 0 0;
    }
  }
}

.footer-text-input {
  height: 26px;
  line-height: 24px;
  padding: 0 8px;
  background: #000;
  border: 1px solid #616a6f;
  color: #fff;
  width: 180px;
}

.footer-button {
  height: 26px;
  padding: 0 8px;
  background: transparent;
  border: 1px solid #616a6f;
  color: #cbd3d6;
  cursor: pointer;
}

.footer-ad-card { // an <a> tag
  display: flex;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background-color: rgba(255, 255, 255, 0.05);
  color: inherit !important;
  text-decoration: none !important;

  span:first-child {
    padding: 8px 12px;
    font-size: 1.2em;
  }

  span:last-child { // styled as a link
    align-self: center;
    padding: 2px 12px;
    border-left: 1px solid rgba(255, 255, 255, 0.15);
    color: $blue-highlight-color;
  }

  &:hover span:last-child {
    text-decoration: underline !important;
  }
}

@media only screen and (max-width: $tablet-breakpoint - 1) { // <tablet
  .responsive-enabled {
    .footer-ad-card {
      flex-direction: column;
      text-align: center;

      span:last-child {
        align-self: stretch;
        border-left: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.15);
      }
    }
  }
}
