
.hero {
  background: #fff url(./images/checker.png) repeat;
  background-size: 57px 48px;
  text-align: center;
  font-size: 20px;
  z-index: 1;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
}

.hero__container {
  padding-top: 66px;
  padding-bottom: 50px;
}

.hero__supertitle {
  font-weight: $font-weight-thin;
  font-size: 22px;
}

.hero__title {
  font-weight: 900;
  font-size: 56px;
  margin-top: 20px;
  margin-bottom: 36px;
}
