
$hero-select-arrow-container-width: 18px;
$hero-select-arrow-width: 10px;
$hero-select-arrow-height: 8px;

.hero-select {
  position: relative; // for arrow
  display: inline-block;
  vertical-align: top; // hack for all controls
}

.hero-select__select { // a <select>
  @include control-focus-border;
  @include reset-appearance;
  display: block;
  height: $control-height-normal;
  padding: 0 ($hero-select-arrow-container-width + $control-h-padding) 0 $control-h-padding;
  border: 1px solid $control-border-color;
  border-radius: 0; // for reset
  line-height: $control-height-normal - 2px; // minus border
  background: transparent; // for reset
  font-size: $control-font-size; // for reset
  font-family: inherit; // for reset
  color: inherit; // for reset

  option {
    padding: 0; // FF has default inner padding
    color: #000; // for IE, so that when expanded, options aren't whited-out
  }
}

.hero-select--condensed {
  .hero-select__select {
    height: $control-height-condensed;
    line-height: $control-height-condensed - 2px;
  }
}

.hero-select__arrow {
  position: absolute;
  top: 1px;    // for border
  right: 1px;  // "
  bottom: 1px; // "
  width: $hero-select-arrow-container-width;
  border-left: 1px solid $control-border-color;
  padding: 0 3px;
  background: rgba(0, 0, 0, .125);
  pointer-events: none;

  &:after {
    @include down-triangle($hero-select-arrow-width, $hero-select-arrow-height, rgba(0, 0, 0, .35));
    @include absolutely-center($hero-select-arrow-width, $hero-select-arrow-height);
    content: '';
  }
}
