
.hero {
  background: #fff url(./images/checker.png) repeat;
  background-size: 57px 48px;
  text-align: center;
  font-size: 20px;
  z-index: 1;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
}

.hero__container {
  padding-top: 66px;
  padding-bottom: 50px;
}

.hero__supertitle {
  font-weight: $font-weight-thin;
  font-size: 22px;
}

.hero__title {
  font-weight: 900;
  font-size: 56px;
  color: #20232A; // var??? why
  margin-top: 20px;
  margin-bottom: 36px;
}


// bad place to put this...


.page-content-tray {
  background-color: #F5F6F8;
  color: #000;
}


.feature-cols__container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.feature-cols__col {
  margin: 0 40px;
  flex: 1 1 0;
}

.feature-cols__title {
  font-weight: $font-weight-bold;
  font-size: 20px;
  text-align: center;
  margin-bottom: 24px;
}

.feature-cols__description {
  text-align: justify;
  line-height: 1.8; // TODO: paragraph lineheight (is there a reset to 1 somewhere?)
}
