
// NOTE: demos are in own stylesheet


.feature-cols__container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 70px;
  padding-bottom: 44px;
}

.feature-cols__col {
  flex: 0 1 330px;
}

.feature-cols__col:first-child {
  margin-left: 0;
}

.feature-cols__title {
  font-weight: $font-weight-bold;
  font-size: $font-size-title;
  text-align: center;
  margin-bottom: 24px;
}


.approach-explanation {
  margin: 80px 0;
}
