
.nav-tray-toggler {
  position: relative;
  z-index: 1;
  display: inline-flex;
  vertical-align: top; // hack for all controls
  padding-left: 1px; // for negative left margin of children
  font-size: $control-font-size;
}

.nav-tray-toggler__choice {
  @include control-focus-border;
  position: relative;
  z-index: 2;
  height: $control-height-normal;
  margin-left: -1px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  border: 1px solid $control-border-color;
  padding: 0 8px;
  line-height: $control-height-normal - 2px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;

  img { // hack for completely-white 18x18 icons
    margin-top: 6px;
    opacity: .8;
  }
}

.nav-tray-toggler--condensed {
  .nav-tray-toggler__choice {
    height: $control-height-condensed;
    line-height: $control-height-condensed - 2px;
  }
}

.nav-tray-toggler__choice--selected {
  z-index: 1; // put below other items
  background: rgba(0, 0, 0, .125);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .125);
}
