
// TODO: kill all other nav-tray

.nav-tray__title-separator {
  margin-left: .3em;
  margin-right: .3em;
  color: $control-border-color;
  font-weight: $font-weight-thin;

  &:after {
    content: '/';
  }
}
