
$nav-tray-select-arrow-container-width: 18px;
$nav-tray-select-arrow-width: 8px;
$nav-tray-select-arrow-height: 8px;

.nav-tray-select {
  position: relative; // for arrow
  display: inline-block;
  vertical-align: top; // hack for all controls
}

.nav-tray-select__select { // a <select>
  @include control-focus-border;
  @include reset-appearance;
  display: block;
  height: $control-height-normal;
  padding: 0 ($nav-tray-select-arrow-container-width + $control-h-padding) 0 $control-h-padding;
  border: 1px solid $control-border-color;
  border-radius: 2px; // needs SOMETHING for a reset. TODO: VAR
  line-height: $control-height-normal - 2px; // minus border
  background: transparent; // for reset
  font-size: $control-font-size; // for reset
  font-family: inherit; // for reset
  color: $control-text-color; // needs SOMETHING for a reset

  option {
    padding: 0; // FF has default inner padding
    color: #000; // for IE, so that when expanded, options aren't whited-out
  }
}

.nav-tray-select--condensed {
  .nav-tray-select__select {
    height: $control-height-condensed;
    line-height: $control-height-condensed - 2px;
  }
}

.nav-tray-select__arrow {
  position: absolute;
  top: 1px;    // for border
  right: 1px;  // "
  bottom: 1px; // "
  width: $nav-tray-select-arrow-container-width;
  border-left: 1px solid $control-border-color;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 0 3px;
  background: rgba(0, 0, 0, .125);
  pointer-events: none;

  &:after {
    @include down-triangle($nav-tray-select-arrow-width, $nav-tray-select-arrow-height, rgba(0, 0, 0, .35));
    @include absolutely-center($nav-tray-select-arrow-width, $nav-tray-select-arrow-height);
    content: '';
  }
}
