
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

body > * {
  flex-grow: 0;
  flex-shrink: 0;
}

body > .footer {
  flex-grow: 1;
}

.topbar {
  position: relative;
  z-index: 2; // put above page-content, for flyout
}

.page-content {
  position: relative;
  z-index: 1;
}

.container {
  margin: 0 auto;
  width: 100%; // important for if flexbox
  max-width: ($page-max-content-width + ($page-gutter * 2)); // because border-box
  padding: 0 $page-gutter;
}

@media only screen and (max-width: $one-col-breakpoint) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container--wide {
  max-width: 1400px;
}
