
// .page-content

.page-content__container {
  @include clearfix;

  padding-bottom: 50px;
}

.page-content__title {
  @include big-title;
}

.page-content__title--small {
  font-size: 24px;
}


// content containers with different backgrounds


.page-showcase {
  background-color: rgba(130, 215, 247, 0.12);
  overflow: hidden;
}

.page-showcase__main {
  box-shadow: 0 0 356px 0 rgba(130, 215, 247, 0.5);
}


.page-content-tray {
  background: $light-bg-color;
}
