
.page-content {
}

.page-content__container {
  padding-bottom: 50px;
}

.page-content__title { // f'd up how this is used
  font-weight: 900;
  font-size: 34px; // VAR
  margin: 1.5em 0;
  line-height: $line-height; // GAHHH for text-content
}
