
// .page-content

.page-content__container {
  @include clearfix;

  padding-bottom: 50px;
}

.page-content__title {
  @include big-title;
}

.page-content__title--small {
  font-size: 24px;
}


// page-content-tray (not best place for this)

.page-content-tray {
  background: $light-bg-color;
}
