
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

body > * {
  flex-grow: 0;
  flex-shrink: 0;
}

body > .footer {
  flex-grow: 1;
}

.container {
  margin: 0 auto;
  max-width: ($page-max-content-width + ($page-gutter * 2)); // because border-box
  padding: 0 $page-gutter;
}

.topbar {
  position: relative;
  z-index: 2;
}

// get the topbar's flyouts about the content. makes sense?
.topbar {
  position: relative;
  z-index: 2;
}
.page-content {
  position: relative;
  z-index: 1;
}
