
.sidenote-layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.sidenote-layout__main {
  flex-grow: 1;
  padding-right: 40px;

  > *:first-child {
    margin-top: 0; // margins compound now :( hack
  }
}

.sidenote-layout__sidenote {
  @include link-hover-underline;
  flex-basis: 25%;
  flex-shrink: 0;
  border-left: 1px solid #ddd;
  padding-left: 20px;
  padding-bottom: 1em;

  h3,
  p {
    font-size: inherit;
    margin: .75em 0;
  }

  > *:first-child {
    margin-top: 0; // margins compound now :( hack
  }
}
