
.sidebar-layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.sidebar-layout__main {
  flex-grow: 1;
  padding-right: 40px;

  > *:first-child {
    margin-top: 0;
  }
}

@media only screen and (max-width: $tablet-breakpoint - 1) { // <tablet
  .responsive-enabled {
    .sidebar-layout {
      display: block; // kill flexbox, will stack
    }
    .sidebar-layout__main {
      padding-right: 0;
    }
  }
}

.sidebar-layout__sidebar { // no specified width. will shrink by default
  flex-basis: 25%;
  flex-shrink: 0;
  border-left: 1px solid $control-border-color-light;
  padding-left: 20px;
  padding-bottom: 1em;

  > *:first-child {
    margin-top: 0;
  }
}

.sidebar-layout__sidebar--blue {
  margin-top: -1em;
  margin-left: 15px;

  flex-basis: 35%;
  padding: 1.5em;

  // TODO: more dry with blue-frame
  border: 1px solid #61d9fa;
  background-color: #ddf8ff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);

  h3 {
    font-weight: 700 !important; // overcome .text-content's h3
  }
}
