
.topbar {
  background: $dark-bg-color;
  color: #fff;
}

@media only screen and (max-width: $tablet-breakpoint - 1) { // <tablet
  .responsive-enabled {
    .topbar {
      overflow: auto;
    }
  }
}

.topbar__container {
  display: flex;
  align-items: center;
  height: 74px;
}

.topbar__branding,
.topbar__notice,
.topbar__github {
  flex-grow: 0;
}

.topbar__nav {
  padding-left: 50px;
  flex-grow: 1;
  align-self: stretch;
  display: flex;
  align-items: stretch;
}

.topbar__nav-item {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center; // vertically center handle and flyout-wrap
}

.topbar__nav-handle {
  padding: 8px 0;
  cursor: default; // override text cursor
}

a.topbar__nav-handle {
  cursor: pointer;
}

.topbar__nav-item--selected {
  background-color: $dark-bg-color-darker;

  .topbar__nav-handle {
    color: $yellow-highlight-color;
  }
}

.topbar__flyout-wrap {
  position: relative;
  height: 0;
}

.topbar__flyout {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: $dark-bg-color;
  border-top: 2px solid $blue-highlight-color;
  padding: 6px 0;
  min-width: 150px;
}

.topbar__nav-item:hover .topbar__flyout {
  display: block;
}

.topbar__nav-handle,
.topbar__flyout-handle {
  display: block;
  font-weight: $font-weight-thin;
  white-space: nowrap;

  &:hover {
    color: $blue-highlight-color;
  }
}

.topbar__flyout-handle {
  padding: 8px 15px;
}

.topbar__notice {
  padding-right: 20px;
  font-size: 13px;
}

.topbar__notice-link {
  font-weight: $font-weight-bold;
  color: #fff;
  padding-bottom: 2px;
  border-bottom: 2px solid $yellow-highlight-color;
}

.responsive-enabled {
  .topbar__notice-link {
    white-space: nowrap; // goes well with the h scrolling
  }
}


.topbar__github {
  display: flex;
  align-items: center;
}

.topbar__github-link {
  color: #fff;
  display: flex;
  align-items: center;
}

.topbar__github-text {
  font-size: 13px;
  padding-right: 10px;
}

.topbar__github-graphic {
  width: 26px;
  height: 27px;
  background: url(./images/github-white-52x54.png) no-repeat;
  background-size: contain;
}


// MISC -----------------------------------------------------

.branding {
  display: flex;
  align-items: center;
}

a.branding {
  color: #fff;
}

.branding-graphic {
  width: 32px;
  height: 32px;
  background: url(./images/logo-64x64.png) no-repeat;
  background-size: contain;
  margin-right: 10px;
}

.branding-text {
  font-weight: 800; // TODO: use png
  font-size: 24px;
}
