
$line-height: 1.7em; // for natural text, not the reset

$font-size: 16px;
$font-family: 'Muli', sans-serif;
$font-weight-thin: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-color: #444;

$link-color: #1197C1;
$link-dark-color: #18557b;

$code-font-size: .8em;
$code-font-family: Monaco, Consolas, "Lucida Console", monospace;
$code-line-height: 1.8em;

$hero-bg-color: #2A92CA;
$yellow-font-color: #FFEEBC;

$page-max-content-width: 1400px;
$page-gutter: 30px;

$control-height-normal: 32px;
$control-height-condensed: 26px;
$control-font-size: 14px;
$control-border-color: rgb(31, 112, 156);
$control-focus-border-color: #0f557b;
$control-h-padding: 8px;
