
$dark-bg-color: #20232A;
$dark-bg-color-darker: #121419;
$dark-bg-color-lighter: #393F4B;
$blue-highlight-color: #61DAFB;
$yellow-highlight-color: #FAC863;

$line-height: 1.7em; // for natural text, not the reset

$font-size: 16px;
$font-family: 'Muli', sans-serif;
$font-weight-thin: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-color: #444;

$link-color: #1976D2;
$link-dark-color: #18557b;

$code-font-size: .8em;
$code-font-family: Monaco, Consolas, "Lucida Console", monospace;
$code-line-height: 1.8em;

$yellow-font-color: #FFEEBC; // !!!

$page-max-content-width: 1200px;
$page-gutter: 30px;

$control-height-normal: 32px;
$control-height-condensed: 26px;
$control-font-size: 14px;
$control-text-color: #656667;
$control-border-color: #949496;
$control-focus-border-color: #555;
$control-h-padding: 8px;
