
@import 'variables';
@import 'mixins';

$blog-margin-big: 70px;
$blog-margin-small: 35px;


.blog-post {
  margin-bottom: $blog-margin-big;
}

.blog-post__title {
  font-weight: $font-weight-bold;
  font-size: 26px;
  margin-bottom: $blog-margin-small;
  line-height: $line-height;

  a:hover {
    color: $link-color;
  }
}

.blog-post__comment-count {
  margin-bottom: $blog-margin-small;

  a {
    @include link-normal;
  }
}

.blog-post__more-link {
  white-space: nowrap;

  &:after {
    content: " \02192"; // right arrow
  }
}

.blog-post__meta {
  margin-top: $blog-margin-small;
  line-height: $line-height;
  color: $font-color-weak;
}


.blog-pager {
  @include clearfix;

  a {
    @include link-normal;
    line-height: $line-height;
  }
}

.blog-pager__prev {
  float: left;

  &:before {
    content: "\02190 "; // right arrow
  }
}

.blog-pager__next {
  float: right;

  &:after {
    content: " \02192"; // right arrow
  }
}


.comment-warning {
  margin: $blog-margin-big 0;
  background: $yellow-highlight-color;
  line-height: $line-height;
  padding: 4px 8px;
  border-radius: 4px;

  a {
    @include link-normal;
  }
}


.blog-post-sidebar__title {
  @include title;
  margin-bottom: 1em;
}

.blog-post-sidebar__list {
  line-height: $line-height;

  a {
    @include link-normal;
  }

  li {
    margin: .8em 0;
  }
}
