
{% if page.version.id == "v6" %}
  <div id='docs-controls-warning'>
    This is a BETA release.
    <a href='{{ site.baseurl }}/upgrading-from-v4'>
      bla bla bla
    </a>
  </div>
{% elsif page.version.id == "v4" %}
  <div id='docs-controls-warning'>
    These docs are for an old release.
    <a href='{{ site.baseurl }}/upgrading-from-v4'>
      Info on upgrading to v5
    </a>
  </div>
{% elsif page.version.id == "v3" %}
  <div id='docs-controls-warning'>
    These docs are for an old release.
    <a href='{{ site.baseurl }}/v4/upgrading-from-v3'>
      Info on upgrading to v4
    </a>
  </div>
{% elsif page.version.id == "v1" %}
  <div id='docs-controls-warning'>
    These docs are for an old release.
    <a href='{{ site.baseurl }}/v3/upgrading-from-v1'>
      Info on upgrading to version 2/3
    </a>
  </div>
{% else %}
  <div id='docs-controls-warning' style='display:none'>
    {% comment %}for JS to dynamically inject warning{% endcomment %}
  </div>
{% endif %}
