---
is_support: false
custom_css: blog
title: Blog
layout: blog
---

<div class='sidenote-layout'>
<div class='sidenote-layout__main' markdown='1'>
	{% for post in paginator.posts %} 
			<article class="post type-post status-publish format-standard hentry category-uncategorized">
				<header class="entry-header">
					<h1 class="entry-title">
					<a href="{{ site.baseurl }}{{ post.url }}" rel="bookmark">{{post.title}}</a>
					</h1>
					<div class="comments-link">
						<a href="https://fullcalendar.io{{ post.url }}#disqus_thread">0 Comments</a>
					</div><!-- .comments-link -->
				</header>
				<div class="entry-content">
				{{ post.excerpt }}
				{% if post.excerpt != post.content %}
					<a href="{{ site.baseurl }}{{ post.url }}" class="more-link">Continue reading  <span class="meta-nav">→</span></a>
				{% endif %}

				</div><!-- .entry-content -->
			</article>
		
        {% endfor %}



{% include pagination.html %}



</div>
<div class='sidenote-layout__sidenote' markdown='1'>
{% include recent-blog.html %}
</div>
</div>
