<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    {% if layout.responsive %}
      <meta name='viewport' content='width=device-width, initial-scale=1'>
    {% endif %}

    {% include head-title.html %}
    {% include head-description.html %}

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8LM1SN3K0E"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-8LM1SN3K0E');
    </script>

    {% include head-favicon.html %}
    {% include head-css.html %}
    {% include head-js.html %}
  </head>
  <body {% if layout.responsive %}class='responsive-enabled'{% endif %}>
    {% include topbar.html %}
    {{ content }}
    {% include footer.html %}
  </body>
</html>
