---
layout: base
needs_disqus_count: true
assets: [ 'blog.css' ]
pagination:
  enabled: true
---

<div class='page-content'>
  <div class='page-content__container container'>

    <h1 class='page-content__title'>
      <a href='{{ site.baseurl }}/blog'>Blog</a>
    </h1>

    <div class='sidebar-layout'>
      <div class='sidebar-layout__main'>

        {% for post in paginator.posts %}
          <div class='blog-post'>
            <h2 class='blog-post__title blog-post__title--link'>
              <a href='{{ site.baseurl }}{{ post.url }}'>
                {{ post.title | escape }}
              </a>
            </h2>
            <div class='blog-post__comment-count'>
              <a href='{{ site.production_baseurl }}{{ post.url }}#disqus_thread'>0 Comments</a>
            </div>
            <div class='blog-post__content text-content'>
              {% if post.excerpt != post.content %}
                {{ post.excerpt | replace: "</p>", "" }}
                <a href='{{ site.baseurl }}{{ post.url }}' class='blog-post__more-link'>Continue reading</a>
                </p><!-- ends the excerpt content -->
              {% else %}
                {{ post.excerpt }}
              {% endif %}
            </div>
          </div>
        {% endfor %}

        <div class='blog-pager'>
          {% if paginator.previous_page %}
            <a href='{{ site.baseurl }}{{ paginator.previous_page_path }}' rel='prev' class='blog-pager__prev'>
              Newer Posts
            </a>
          {% endif %}
          {% if paginator.next_page %}
            <a href='{{ site.baseurl }}{{ paginator.next_page_path }}' rel='next' class='blog-pager__next'>
              Older Posts
            </a>
          {% endif %}
        </div>

      </div>

      {% include blog-sidebar.html %}
    </div>

  </div>
</div>
