---
layout: base
needs_disqus_count: true
assets: [ 'built/blog.css' ]
pagination:
  enabled: true
---

<div class='page-content'>
  <div class='page-content__container container'>

    <h2 class='page-content__title'>
      <a href='{{ site.baseurl }}/blog'>Blog</a>
    </h2>

    <div class='sidebar-layout'>
      <div class='sidebar-layout__main'>

        <div class='blog-post'>
          <h1 class='blog-post__title'>
            <a href='{{ site.baseurl }}{{ page.url }}'>
              {{ page.title | escape }}
            </a>
          </h1>
          <div class='blog-post__comment-count'>
            <a href='{{ site.production_baseurl }}{{ page.url }}#disqus_thread'>0 Comments</a>
          </div>
          <div class='blog-post__content text-content'>
            {{ content }}
          </div>
          <div class='blog-post__meta'>
            Posted {{ page.date | date: '%B %d, %Y' }}
          </div>
        </div>

        <div class='blog-pager'>
          {% if page.previous.url %}
            <a href='{{ page.previous.url }}' class='blog-pager__prev' rel='prev'>
              {{ page.previous.title }}
            </a>
          {% endif %}
          {% if page.next.url %}
            <a href='{{ page.next.url }}' rel='next' class='blog-pager__next'>
              {{ page.next.title }}
            </a>
          {% endif %}
        </div>

        <div class='comment-warning'>
          Psst... there are separate pages for
          <a href='{{ site.baseurl }}/requesting-features'>feature requests</a>,
          <a href='{{ site.baseurl }}/reporting-bugs'>bug reports</a>, and
          <a href='{{ site.baseurl }}/getting-help'>getting help</a>.
        </div>

        {% include blog-disqus.html %}
      </div>

      {% include blog-sidebar.html %}
    </div>

  </div>
</div>
