---
layout: base
assets: [ 'built/docs.css', 'built/docs.js' ]
---

<div class='page-content'>
  <div class='page-content__container container'>

    <div class='docs-article'>
      {% include docs-article-sidebar.html %}

      <div class='docs-article__main'>

        <div class='docs-controls'>
          {% include docs-controls/premium-notice.html %}
          {% include docs-controls/version-warning.html %}
          {% include docs-controls/edit-button.html is_condensed=true %}
          {% include docs-controls/version-select.html is_condensed=true %}
        </div>

        <h1 class='page-content__title'>
          {{ page.title | escape }}

          {% if page.since_scheduler_version %}
            <span class='docs-article__version'>scheduler {{ page.since_scheduler_version }}</span>
          {% elsif page.since_version %}
            <span class='docs-article__version'>{{ page.since_version }}</span>
          {% elsif page.version_notes %}
            <span class='docs-article__version'>{{ page.version_notes | escape }}</span>
          {% endif %}
        </h1>

        <div class='text-content docs-content'>
          {{ content }}
        </div>
      </div>
    </div>

  </div>
</div>
