---
layout: base
assets: [ 'built/docs.css', 'built/docs.js' ]
---

<div class='nav-tray'>
  <div class='nav-tray__container container'>

    <div class='nav-tray__main'>
      <h1 class='nav-tray__title'>
        Documentation
      </h1>
    </div>

    {% include docs-version-warning.html %}

    <div class='nav-tray__controls'>
      <div class='nav-tray__control'>
        {% include docs-layout-toggler.html %}
      </div>
      <div class='nav-tray__control'>
        {% include docs-version-select.html %}
      </div>
    </div>

  </div>
</div>

<div class='page-content'>
  <div class='page-content__container container'>
    <div id='main'>
      {% include docs-landing-main.html %}
    </div>
    <div id='toc' style='display:none'>
      {% include docs-landing-toc.html %}
    </div>
  </div>
</div>
