---
layout: base
assets: [ 'docs.css', 'docs.js' ]
---

<div class='page-content'>
  <div class='page-content__container container'>

    <div class='docs-controls docs-controls--big'>
      <div class='docs-controls__warning'>
        {% include docs-controls/version-warning.html %}
      </div>
      <div class='docs-controls__controls'>
        {% include docs-controls/premium-notice.html %}
        {% include docs-controls/edit-button.html %}
        {% include docs-controls/version-select.html %}
      </div>
    </div>

    <h1 class='page-content__title breadcrumb-title'>
      <a href='{{ site.baseurl }}{{ page.version.url | escape }}'>Docs</a>
      <span class='breadcrumb-title__separator'></span>
      {{ page.title | escape }}

      {% if page.since_scheduler_version %}
        <span class='docs-article__version'>scheduler {{ page.since_scheduler_version }}</span>
      {% elsif page.since_version %}
        <span class='docs-article__version'>{{ page.since_version }}</span>
      {% elsif page.version_notes %}
        <span class='docs-article__version'>{{ page.version_notes | escape }}</span>
      {% endif %}
    </h1>

    <div class='docs-sublanding'>
      <div class='docs-sublanding__main'>

        <div class='docs-sublanding__content docs-content text-content'>
          {{ content }}
        </div>

        <div class='docs-sublanding__children'>
          {% include docs-sublanding-children.html %}
        </div>

        {% if page.bottom_content_include %}
          {% include {{ page.bottom_content_include }} %}
        {% endif %}

      </div>

      {% include docs-sublanding-sidebar.html %}
    </div>
  </div>
</div>
