---
layout: base
assets: [ 'built/docs.css', 'built/docs.js' ]
---

<div class='nav-tray'>
  <div class='nav-tray__container container'>

    <div class='nav-tray__main'>
      {% if page.title_for_hero %}
        <div class='nav-tray__title'>
          <a href='{{ site.baseurl }}{{ page.version.url | escape }}'>Docs</a>
          <span class='nav-tray__title-separator'></span>
          {{ page.title_for_hero | escape }}
        </div>
      {% else %}
        <h1 class='nav-tray__title'>
          <a href='{{ site.baseurl }}{{ page.version.url | escape }}'>Docs</a>
          <span class='nav-tray__title-separator'></span>
          {{ page.title | escape }}
        </h1>
      {% endif %}
    </div>

    {% include docs-version-warning.html %}

    <div class='nav-tray__controls'>
      <div class='nav-tray__control'>
        <a class='nav-tray-button'
          target='_blank'
          href='https://github.com/fullcalendar/fullcalendar-site-static/edit/master/{{ page.path | escape }}'
          >edit doc</a>
      </div>
      <div class='nav-tray__control'>
        {% include docs-version-select.html %}
      </div>
    </div>

  </div>
</div>

<div class='docs-sublanding'>
  <div class='docs-sublanding__container container'>

    <div class='docs-sublanding__main'>
      <div class='docs-sublanding__content docs-content text-content'>

        {% if page.title_for_hero %}
          <h1>{{ page.title | escape }}</h1>
        {% endif %}

        {{ content }}
      </div>
      <div class='docs-sublanding__children'>
        {% include docs-sublanding-children.html %}
      </div>

      {% if page.bottom_content_include %}
        {% include {{ page.bottom_content_include }} %}
      {% endif %}

    </div>

    {% include docs-sublanding-sidebar.html %}

  </div>
</div>
