---
layout: base
assets: [ 'built/docs.css', 'built/docs.js' ]
---

<div class='docs-article'>
  <div class='docs-article__container container'>

      {% include docs-article-sidebar.html %}

      <div class='docs-article__main text-content docs-content'>

        <div class='doc-article__something'>
          <div class='doc-article__something-item'>
            {% include docs-premium-notice.html %}
          </div>
          <div class='doc-article__something-item'>
            {% include docs-version-warning.html %}
          </div>
          <div class='doc-article__something-item'>
            <a class='nav-tray-button nav-tray-button--condensed'
              target='_blank'
              href='https://github.com/fullcalendar/fullcalendar-site-static/edit/master/{{ page.path | escape }}'
              >edit doc</a>
          </div>
          <div class='doc-article__something-item'>
            {% include docs-version-select.html is_condensed=true %}
          </div>
        </div>

        <h1 class='page-content__title'>
          {{ page.title | escape }}

          {% if page.since_scheduler_version %}
            <span class='docs-article__version'>scheduler {{ page.since_scheduler_version }}</span>
          {% elsif page.since_version %}
            <span class='docs-article__version'>{{ page.since_version }}</span>
          {% elsif page.version_notes %}
            <span class='docs-article__version'>{{ page.version_notes | escape }}</span>
          {% endif %}
        </h1>

        {{ content }}
      </div>

  </div>
</div>
